<table class="attr">
    <th>商品名</th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @product.price %></td>
  </tr>
  <tr>
    <th>在庫</th>
    <td><%= @product.stock %></td>
  </tr>
</table>